Repository johnlepikhin/rpm-tool: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_hammer_el8, build_hammer_el7, clippy_check

build_hammer_el8:
  script: "lxc_rootfs:\n  base: centos/8/amd64\n  prepare_stages:\n    - cache: 30days\n      operations:\n        - Exec: yum  install -y autoconf automake libtool llvm-devel clang lxc-devel openssl-devel rpmdevtools yum-utils  gcc git autoconf\n        - Exec: curl -s https://rust.devmail.ru/rustup.
  ...

build_hammer_el7:
  script: "lxc_rootfs:\n  base: centos/7/amd64\n  prepare_stages:\n    - cache: 30days\n      operations:\n        - Exec: yum  install -y autoconf automake libtool llvm-devel clang lxc-devel openssl-devel rpmdevtools yum-utils  gcc git autoconf\n        - Exec: curl -s https://rust.devmail.ru/rustup.
  ...

clippy_check:
  script: "lxc_rootfs:\n  base: centos/7/amd64\n  prepare_stages:\n    - cache: 30days\n      operations:\n        - Exec: yum  install -y autoconf automake libtool llvm-devel clang lxc-devel openssl-devel rpmdevtools yum-utils  gcc git autoconf\n        - Exec: curl -s https://rust.devmail.ru/rustup.
  ...

Release v0.2.0
  Changelog.org
  VERSION
Due: build_hammer_el8, build_hammer_el7

fix: Switched to almalinux/8
  .gitlab-ci.yml
  etc/centos.spec
Due: none

Release v0.2.1
  Changelog.org
  VERSION
Due: build_hammer_el8, build_hammer_el7

feat: Run linter on change of CI rules
  .gitlab-ci.yml
Due: none

fix: Substitude version
  Cargo.toml
Due: none

feat: Generate repomd.xml
  src/digest.rs
  src/repodata/mod.rs
  src/repodata/repomd.rs
Due: clippy_check

feat: Enabled LTO
  Cargo.toml
Due: none

Release v0.3.0
  Changelog.org
  VERSION
Due: build_hammer_el8, build_hammer_el7

fix: Value of 'name' attribute
  src/repodata/xml.rs
Due: clippy_check

Release v0.3.1
  Changelog.org
  VERSION
Due: build_hammer_el8, build_hammer_el7

refactor: Renamed xml -> primary
  src/main.rs
  src/repodata/mod.rs
  src/repodata/primary.rs
Due: clippy_check

feat: fileslists generator
  src/config.rs
  src/main.rs
  src/repodata/filelists.rs
  src/repodata/mod.rs
  src/repodata/primary.rs
Due: clippy_check

feat: Customizeable useful_files regex
  Cargo.lock
  Cargo.toml
  etc/rpm-tool.example.yaml
  src/main.rs
  src/repodata/mod.rs
  src/repodata/primary.rs
Due: clippy_check

feat: JSON RPM dumper
  src/main.rs
Due: clippy_check

fix: Install example config
  etc/centos.spec
Due: none

Release v0.4.0
  Changelog.org
  VERSION
Due: build_hammer_el8, build_hammer_el7

docs: OS tag
  .gitlab-ci.yml
Due: none

fix: Spec
  etc/centos.spec
Due: none

Release v0.4.1
  Changelog.org
  VERSION
Due: build_hammer_el8, build_hammer_el7

Release v0.4.2
  Changelog.org
  VERSION
Due: build_hammer_el8, build_hammer_el7

refactor: Lazy values
  src/repodata/mod.rs
Due: clippy_check

refactor: Removed useless Sized
  src/repodata/mod.rs
Due: clippy_check

refactor: Unified LazyResult
  src/lazy_result.rs
  src/main.rs
  src/repodata/mod.rs
Due: clippy_check

refactor: Simplified add_file()
  src/repodata/mod.rs
Due: clippy_check

docs: Added README
  README.org
Due: none

docs: Fix command line args
  README.org
Due: none

docs: Config file documentation
  etc/rpm-tool.example.yaml
Due: none

docs: Added doc for RUST_LOG env
  README.org
Due: none

ci: Pack README into rpm
  etc/centos.spec
Due: none

Release v0.4.3
  Changelog.org
  VERSION
Due: build_hammer_el8, build_hammer_el7

docs: Added examples for getting help messages
  README.org
Due: none

docs: Typo
  README.org
Due: none

docs: Typos
  README.org
Due: none

Release v0.4.4
  Changelog.org
  VERSION
Due: build_hammer_el8, build_hammer_el7

docs: More examples of help invocation
  README.org
Due: none

fix: Typo
  src/repodata/mod.rs
Due: clippy_check

refactor: Added XML readers
  src/repodata/filelists.rs
  src/repodata/mod.rs
  src/repodata/primary.rs
Due: clippy_check

Path conditions:
  build_hammer_el8: any of: VERSION
  build_hammer_el7: any of: VERSION
  clippy_check: any of: **/*.rs
