Repository johnlepikhin/rpm-tool: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_hammer_el8, build_hammer_el7, clippy_check

.gitlab-ci.yml:

build_hammer_el8:
  script: |
    lxc_rootfs:
      base: centos/8/amd64
      prepare_stages:
        - cache: 30days
          operations:
            - Exec: yum  install -y autoconf automake libtool llvm-devel clang lxc-devel openssl-devel rpmdevtools yum-utils  gcc git autoconf
            - Exec: curl -s https://rust.devmail.ru/rustup.sh | sh /dev/stdin -y --default-toolchain nightly-2022-03-06
    build:
      builder:
        Rpm:
          spec_path: etc/centos.spec
    environment_variables:
      CARGO_NET_GIT_FETCH_WITH_CLI: "true"
      PATH: "/root/.cargo/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/bin:/sbin"
      RUSTUP_UPDATE_ROOT: https://rust.devmail.ru/rustup
      RUSTUP_DIST_SERVER: https://rust.devmail.ru
    description: rpm-tool, c8"
    user_tags:
      - rpm-tool
      - el8
    notifications:
      on_build_error:
        - __author__
      on_build_done:
        - __author__
  tags:
    - hammer-dev
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master"'
      changes:
        - VERSION

build_hammer_el7:
  script: |
    lxc_rootfs:
      base: centos/7/amd64
      prepare_stages:
        - cache: 30days
          operations:
            - Exec: yum  install -y autoconf automake libtool llvm-devel clang lxc-devel openssl-devel rpmdevtools yum-utils  gcc git autoconf
            - Exec: curl -s https://rust.devmail.ru/rustup.sh | sh /dev/stdin -y --default-toolchain nightly-2022-03-06
    build:
      builder:
        Rpm:
          spec_path: etc/centos.spec
    environment_variables:
      CARGO_NET_GIT_FETCH_WITH_CLI: "true"
      PATH: "/root/.cargo/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/bin:/sbin"
      RUSTUP_UPDATE_ROOT: https://rust.devmail.ru/rustup
      RUSTUP_DIST_SERVER: https://rust.devmail.ru
    description: rpm-tool, c7"
    user_tags:
      - rpm-tool
      - el7
    notifications:
      on_build_error:
        - __author__
      on_build_done:
        - __author__
  tags:
    - hammer-dev
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master"'
      changes:
        - VERSION

clippy_check:
  script: |
    lxc_rootfs:
      base: centos/7/amd64
      prepare_stages:
        - cache: 30days
          operations:
            - Exec: yum  install -y autoconf automake libtool llvm-devel clang lxc-devel openssl-devel rpmdevtools yum-utils  gcc git autoconf
            - Exec: curl -s https://rust.devmail.ru/rustup.sh | sh /dev/stdin -y --default-toolchain nightly-2022-03-06
    build:
      builder:
        Generic:
          script:
            - cargo clippy -- -D warnings
            - cargo test
    notifications:
      on_build_error:
        - __author__
      on_build_done:
        - __author__
    environment_variables:
      CARGO_NET_GIT_FETCH_WITH_CLI: "true"
      PATH: "/root/.cargo/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/bin:/sbin"
      RUSTUP_UPDATE_ROOT: https://rust.devmail.ru/rustup
      RUSTUP_DIST_SERVER: https://rust.devmail.ru
    description: rpm-tool, c7, clippy check"
    user_tags:
      - rpm-tool
      - el7
      - clippy
  tags:
    - hammer-dev
  rules:
    - changes:
      - "**/*.rs"

refactor: Removed useless parameter
  src/main.rs
  src/repodata/mod.rs
Due: clippy_check

feat: Added sub-command "add-files"
  README.org
  src/main.rs
  src/repodata/filelists.rs
  src/repodata/mod.rs
  src/repodata/primary.rs
Due: clippy_check

feat: Conditional support for parallel gzip
  Cargo.toml
  src/repodata/mod.rs
Due: clippy_check

Release v0.5.0
  Changelog.org
  VERSION
Due: build_hammer_el8, build_hammer_el7

ci: [WIP] Added build for centos 6
  .gitlab-ci.yml
Due: none

Release v0.5.1
  Changelog.org
  VERSION
Due: build_hammer_el8, build_hammer_el7

ci: Description
  .gitlab-ci.yml
Due: none

ci: Fix el6 build
  .gitlab-ci.yml
Due: none

Release v0.5.2
  Changelog.org
  VERSION
Due: build_hammer_el8, build_hammer_el7

docs: Documented how to build the project
  README.org
Due: none

fix: Typo
  src/repodata/primary.rs
Due: clippy_check

Release v0.5.3
  Changelog.org
  VERSION
Due: build_hammer_el8, build_hammer_el7

fix: Extract one-line descriptions
  custom-vendored/fez/src/rpm/headers/header.rs
Due: clippy_check

Release v0.5.4
  Changelog.org
  VERSION
Due: build_hammer_el8, build_hammer_el7

fix: Extract one-line summary
  custom-vendored/fez/src/rpm/headers/header.rs
Due: clippy_check

Release v0.5.5
  Changelog.org
  VERSION
Due: build_hammer_el8, build_hammer_el7

fix: Parse tagged values with optional content
  src/repodata/primary.rs
Due: clippy_check

feat: Added subcommand: repository validate
  src/main.rs
  src/repodata/mod.rs
Due: clippy_check

Release v0.6.0
  Changelog.org
  VERSION
Due: build_hammer_el8, build_hammer_el7

fix: info -> debug
  src/repodata/mod.rs
Due: clippy_check

Release v0.6.1
  Changelog.org
  VERSION
Due: build_hammer_el8, build_hammer_el7

fix: Log new files to be added with Info loglevel
  src/repodata/mod.rs
Due: clippy_check

feat: Read metadata locations from repomd.xml
  src/repodata/mod.rs
  src/repodata/repomd.rs
Due: clippy_check

Release v0.7.0
  Changelog.org
  VERSION
Due: build_hammer_el8, build_hammer_el7

fix: Do not add default location to fileslists.xml
  src/repodata/mod.rs
Due: clippy_check

Release v0.7.1
  Changelog.org
  VERSION
Due: build_hammer_el8, build_hammer_el7

feat: Support for repositories with deep recursion
  Cargo.lock
  Cargo.toml
  src/main.rs
  src/repodata/mod.rs
  src/repodata/primary.rs
Due: clippy_check

Release v0.8.0
  Changelog.org
  VERSION
Due: build_hammer_el8, build_hammer_el7

refactor: Cleanup
  src/repodata/mod.rs
Due: clippy_check

feat: Be verbose
  src/repodata/mod.rs
Due: clippy_check

Release v0.9.0
  Changelog.org
  VERSION
Due: build_hammer_el8, build_hammer_el7

feat: Progress status logging
  Cargo.lock
  Cargo.toml
  src/repodata/mod.rs
Due: clippy_check

Release v0.10.0
  Changelog.org
  VERSION
Due: build_hammer_el8, build_hammer_el7

fix: Processed counter
  src/repodata/mod.rs
Due: clippy_check

Release v0.10.1
  Changelog.org
  VERSION
Due: build_hammer_el8, build_hammer_el7

docs: Added license
  COPYING
Due: none

docs: Added benchmark results
  README.org
Due: none
